:root {
  --font-family: "Poppins", Arial;
  --font-size: 16px;
  --line-height: 1.5;

  --color-accent: #ffbade;
	--color-secondry-accent: #74DEFF ;
  --color-text: #ffffff;
  --color-highlight: #201f31;
  --primary-fg: #ccc;
  --secondary-fg: #6c757d;

  --primary-bg: #201f31;
  --secondary-bg: #2b2a3c;
}

.text-accent {
  color: var(--color-accent);
}

.bg-accent-bg {
  background: var(--color-accent);
}

.bg-secondary-accent-bg {
	background: var(--color-secondry-accent);
}

.text-color {
  color: var(--color-text);
}

.text-highlight {
  color: var(--color-highlight);
}

.text-primary-fg {
  color: var(--primary-fg);
}

.text-secondary-fg {
  color: var(--secondary-fg);
}

.bg-primary-bg {
  background-color: var(--primary-bg);
}

.bg-secondary-bg {
  background-color: var(--secondary-bg);
}

.font-sans {
  font-family: "Poppins", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px base */
}
