<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="{{ url_for('static',path="css/static.css") }}">
    <title>{%block title %} Voice Tools {% endblock %}</title>
  </head>
  <body>
    <header>
      <p>welcome to the voice tools</p>
    </header>
    <main>{%block content%} {% endblock %}</main>
    <footer>
      <p>all rights are reseved</p>
    </footer>
  </body>
</html>
