<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static',path="css/static.css") }}">
    <title>{%block title %} Voice Tools {% endblock %}</title>
  </head>
  <body class="bg-primary-bg text-primary-fg h-screen flex flex-col justify-between">

		{# header  #}
    <header class="flex justify-center text-xs m-1" >
      <p class="text-secondary-fg" >welcome to the voice tools</p>
    </header>

		{# main panels #}
    <main class="flex justify-center" >{%block content%} {% endblock %}</main>

		{# footer  #}
    <footer class="flex justify-center text-xs m-1 " >
      <p class="text-secondary-fg" > All rights reserved. © </p>
    </footer>
  </body>
</html>
