{% extends 'index.html' %} 

{%block title %}onboarding{% endblock %}

{% block content %}

<div class="holder">
  <!-- greeting message -->
  <h3 class="greeting">Hi, how should we address you?</h3>

  <form method="POST">
    <!-- get first name  -->
    <label for="firstName">First Name</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      value=""
      placeholder="default is user"
    />

    <br />

    <!-- get last name  -->
    <label for="lastName">Last Name</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      value=""
      placeholder="your last name"
    />

    <br />

    <!-- get gender identity -->
    <label for="gender">Gender <span>(optional)</span> </label>
    <select id="gender" name="genderIdentity">
      <option value="" disabled selected>your gender identity</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="transgender">Transgender</option>
      <option value="nonbinary">Non-Binary</option>
      <option value="agender">Agender</option>
      <option value="other">Other</option>
      <option value="prefer_not_to_say">Prefer Not to Say</option>
    </select>

    <br />

    <!-- get onboarding status -->
    <input
      type="checkbox"
      id="onboardingStatus"
      name="onboardingStatus"
      value="true"
      checked
    />
    <label for="onboardingStatus">Show onboarding next time?</label>

    <br />

    <!-- action skip or submit  -->

    <button type="submit" name="action" value="skip">Skip</button>
    <button type="submit" name="action" value="submit">Confirm</button>
  </form>

  <!-- popover hover message -->

  <button type="button" popovertarget="hover-notice">
    Why do we need this info?
  </button>

  <!-- popover message -->

  <div class="hover-notice" id="hover-notice" popover>
    <p>Fair use policy</p>
    <ul>
      <li>
        This is a part of your onboarding journey to enhance your experience!
      </li>

      <li>Don't worry—you're always in control of your data.</li>

      <li>We will never share your data with anyone or any third party.</li>

      <li>You can update or reset this information anytime from settings.</li>
    </ul>
  </div>

  <!-- popover message ends -->
</div>

{% endblock %}
